'.source.js':
  'config ui-router demo':
    'prefix': 'ui-router-demo'
    'body': """
      .config( ['$stateProvider', '$urlRouterProvider', function ($stateProvider,   $urlRouterProvider) {

        // Redirects and Otherwise
        // Use $urlRouterProvider to configure any redirects (when) and invalid urls (otherwise).
        $urlRouterProvider
          .when('/c?id', '/contacts/:id')
          .when('/user/:id', '/contacts/:id')
          .otherwise('/');


        // State Configurations
        // Use $stateProvider to configure your states.
        $stateProvider
          .state("home", {
            // Use a url of "/" to set a states as the "index".
            url: "/",
            // Example of an inline template string. By default, templates
            // will populate the ui-view within the parent state's template.
            // For top level states, like this one, the parent template is
            // the index.html file. So this template will be inserted into the
            // ui-view within index.html or you can use templateUrl
            template: '<p class="lead">Welcome to the UI-Router Demo</p>' +
              '<p>Use the menu above to navigate. ' +
              'Pay attention to the <code>$state</code> and <code>$stateParams</code> values below.</p>' +
              '<p>Click these links—<a href="#/c?id=1">Alice</a> or ' +
              '<a href="#/user/42">Bob</a>—to see a url redirect in action.</p>'

          })

          // About
          .state('about', {
            url: '/about',
            // Showing off how you could return a promise from templateProvider
            templateProvider: ['$timeout',
              function (        $timeout) {
                return $timeout(function () {
                  return '<p class="lead">UI-Router Resources</p><ul>' +
                           '<li><a href="https://github.com/angular-ui/ui-router/tree/master/sample">Source for this Sample</a></li>' +
                           '<li><a href="https://github.com/angular-ui/ui-router">Github Main Page</a></li>' +
                           '<li><a href="https://github.com/angular-ui/ui-router#quick-start">Quick Start</a></li>' +
                           '<li><a href="https://github.com/angular-ui/ui-router/wiki">In-Depth Guide</a></li>' +
                           '<li><a href="https://github.com/angular-ui/ui-router/wiki/Quick-Reference">API Reference</a></li>' +
                         '</ul>';
                }, 100);
              }]
          })
      }]);
    """


  'config ng-router demo':
    'prefix': 'ng-route-demo'
    'body': '''
      .config(['$routeProvider', function($routeProvider){
        $routeProvider.
          when('/', {
            controller: 'ListCtrl',
            resolve: {
              recipes: {
                function(){
                  return RecipeLoader();
                }
              }
            },
            templateUrl: 'views/list.html'
          }).when('/new', {
            controller: 'NewCtrl',
            templateUrl: '/views/recipeForm.html'
          }).otherwise({
            redirectTo: '/'
          })
      }]);
    '''
